<h1>Nova Matrícula</h1>
<%= form_with(model: @matriculas) do |m| %>
  <div class="lista">
    <%= m.label 'Matrícula' %>
    <%= m.number_field :matricula %>
  </div>
  <div class="lista">
    <%= m.label 'Curso:' %>
    <%= m.text_field :curso %>
  </div>
  <div class="lista">
    <%= m.label 'Tipo de Curso:' %>
    <%= m.text_field :tipo_curso %>
  </div>
  <div class="lista">
    <%= m.label 'Modalidade:' %>
    <%= m.text_field :modalidade %>
  </div>
    <div class="lista">
    <%= m.label 'Turno:' %>
    <%= m.text_field :turno %>
  </div>
    <div class="lista">
    <%= m.label 'Período:' %>
    <%= m.text_field :periodo %>
  </div>
    <div class="lista">
    <%= m.label 'Data da matrícula' %>
    <%= m.text_field :matricula %>
  </div>
  <div class="botão">
    <%= m.submit %>
  </div>
  <div class="lista">
    <%= link_to 'Voltar', root_path %>
  </div>
<% end %>
